@mixin form-label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}

@mixin form-input {
  border: 1px solid $c-disabled;
  border-radius: $radius;
  padding: 8px;
  background-color: $c-white;
  font-family: inherit;
  font-size: 14px;
}