$c-white: #fff;
$c-black: #000;
$c-info: #7EA1C9;
$c-error: #B82200;
$c-success: #38943E;
$c-disabled: #949E94;
$c-default: #23395B;

$transition: all 333ms ease-in-out;

$radius: 4px;

$mb: 24px;

$mw: 320px;