<template>
  <button
    type="button"
    :disabled="disabled"
    class="button"
    :class="[classes]"
    @click="$emit('click')"
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: String,
    color: {
      type: String,
      default: 'default'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    centered: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    classes() {
      const classesArray = [this.color]
      if (this.centered) {
        classesArray.push('centered')
      }
      return classesArray
    }
  }
}
</script>

<style lang="scss" scoped>
.button {
  padding: 8px 16px;
  color: $c-white;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  transition: $transition;

  &.centered {
    display: block;
    margin: 0 auto;
  }

  &.default {
    background-color: $c-default;
  }

  &:disabled {
    background-color: $c-disabled;
    cursor: no-drop;
  }

  &:hover {
    opacity: 0.9;
  }
}
</style>