<template>
  <div class="message" :class="messageClass">
    <div class="message-info">
      <div class="message-info-datetime">{{ dateTimeFormatted }}</div>
      <div class="message-info-status" :class="statusClass">{{ status }}</div>
    </div>
    <div class="message-text">{{ message }}</div>
  </div>
</template>

<script>
export default {
  name: 'Message',
  props: {
    dateTime: String,
    subject: String,
    message: String,
    isRead: Boolean
  },
  computed: {
    messageClass() {
      const defaultClasses = ['info', 'error', 'success']
      if (!defaultClasses.includes(this.subject)) {
        return 'custom'
      }
      return this.subject
    },
    dateTimeFormatted() {
      return this.dateTimeFormat(this.dateTime)
    },
    status() {
      return this.isRead ? 'Read' : 'Unread'
    },
    statusClass() {
      return this.isRead ? 'read' : 'unread'
    }
  }
}
</script>

<style lang="scss" scoped>
.message {
  border-top: 1px solid $c-disabled;
  border-bottom: 1px solid $c-disabled;
  border-right: 1px solid $c-disabled;
  border-radius: $radius;
  padding: 8px;
  margin-bottom: 16px;

  &.info {
    border-left: 16px solid $c-info;
  }

  &.error {
    border-left: 16px solid $c-error;
  }

  &.success {
    border-left: 16px solid $c-success;
  }

  &.custom {
    border-left: 16px solid $c-disabled;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 16px;

    &-datetime {
      color: $c-disabled;
    }

    &-status {
      &.read {
        color: $c-black;
      }

      &.unread {
        color: $c-error;
        font-weight: bold;
      }
    }
  }

  &-text {
    font-style: italic;
  }
}
</style>