<template>
  <div class="select">
    <label :for="$id('select-label')" class="select-label">{{ label }}</label>
    <select
      v-model="selected"
      :id="$id('select-label')"
      class="select-selector"
    >
      <option v-for="(option, idx) in options" :key="idx" :value="option">
        {{ option | capitalize }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'Select',
  props: {
    value: String,
    label: String,
    options: Array
  },
  computed: {
    selected: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      }
    }
  },
  filters: {
		capitalize(value) {
      if (!value) return ''
      return value.charAt(0).toUpperCase() + value.slice(1)
		}
	}
}
</script>

<style lang="scss" scoped>
.select {
  margin-bottom: $mb;
  max-width: $mw;

  &-label {
    @include form-label;
  }

  &-selector {
    @include form-input;

    width: 100%;
  }
}
</style>