<template>
  <div class="textarea" :class="classes">
    <label :for="$id('textarea-label')" class="textarea-label">{{ label }}</label>
    <textarea
      :id="$id('textarea-label')"
      rows="3"
      class="textarea-input"
      :value="value"
      @input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<script>
export default {
  name: 'Textarea',
  props: {
    value: String,
    label: String,
    noMargin: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    classes() {
      return {
        'no-margin': this.noMargin
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.textarea {
  margin-bottom: $mb;
  max-width: $mw;

  &.no-margin {
    margin-bottom: 8px;
  }

  &-label {
    @include form-label;
  }

  &-input {
    @include form-input;

    box-sizing: border-box;
    resize: none;
    width: 100%;
    outline: none;
  }
}
</style>