<template>
  <div id="app">
    <transition name="fade" mode="out-in">
      <div v-if="!connected" class="disconnected">Connecting to WebSocket...</div>
      <Button v-else-if="!loggedIn" text="Login" centered @click="handleLogin"/>
      <div v-else>
        <div class="form-group">
          <Select label="Subject" v-model="subject" :options="subjects"/>
          <Textarea label="Message" v-model="message" no-margin/>
          <Button text="Send" centered margin-bottom @click="handleSendMessage"/>
        </div>
        <h3 class="messages-title">Messages ({{ messages.length }})</h3>
        <transition-group name="slide">
          <Message
            v-for="message in messages"
            :key="message.id"
            :date-time="message.dt"
            :subject="message.sub"
            :message="message.msg"
            :is-read="message.read"
          />
        </transition-group>
      </div>
    </transition>
  </div>
</template>

<script>
import Sarus from '@anephenix/sarus'
import Button from './components/Button.vue'
import Select from './components/Select.vue'
import Textarea from './components/Textarea.vue'
import Message from './components/Message.vue'

export default {
  name: 'App',
  components: {
    Button,
    Select,
    Textarea,
    Message
  },
  data() {
    return {
      connected: false,
      ws: null,
      id: 'q325Q8JPCprQ',
      tempId: null,
      token: null,
      subjects: ['info', 'error', 'success'],
      subject: 'info',
      message: null,
      messages: []
    }
  },
  computed: {
    loggedIn() {
      return this.token !== null
    }
  },
  created() {
    this.ws = new Sarus({
      url: 'wss://charmium.ru/noty/notifications',
      reconnectAutomatically: true,
      eventListeners: {
        open: [this.handleWSOpen],
        message: [this.handleWSMessage],
        close: [this.handleWSClose],
        error: [this.handleWSError],
      }
    })
  },
  methods: {
    handleWSOpen() {
      this.connected = true
    },
    handleWSClose() {
      this.connected = false
    },
    handleWSMessage(event) {
      const message = JSON.parse(event.data)
      switch (message.type) {
        case 'id':
          console.log('[WebSocket] Got ID', message.id)
          if (this.tempId !== message.id && this.token) {
            this.handleWSSend({
              id: this.id,
              'access_token': this.token
            })
          }
          this.tempId = message.id
          break
        case 'response':
          console.log('[WebSocket] Subscribe')
          if (message.ok) {
            this.toast('Subscribed to new messages', 'info')
          } else {
            this.toast('Error subscribing new messages', 'error')
          }
          break
        case 'inbox':
          console.log('[WebSocket] New message')
          this.toast('You\'ve got new message!', 'default')
          this.handleCheckInbox()
          break
        default:
          console.log('[WebSocket] Unknown message type')
          break
      }
    },
    handleWSError(error) {
      throw error
    },
    handleLogin() {
      const loginData = {
        credential: '79997654321',
        password: 'test'
      }

      this.axios.post('/login/', loginData).then(({data}) => {
        if (data.ok) {
          this.token = data.accessToken
          this.handleWSSend({
            id: this.id,
            'access_token': this.token
          })
          this.handleCheckInbox()
          this.toast('Logged-in successfully', 'success')
        } else {
          this.toast('Can\'t log-in', 'error')
        }
      }).catch(error => {
        console.log(error)
        this.toast('Login request error', 'error')
      })
    },
    handleWSSend(message) {
      this.ws.send(JSON.stringify(message))
    },
    handleSendMessage() {
      if (this.message && this.subject) {
        const messageData = {
          message: this.message,
          recipient: this.id,
          subject: this.subject
        }

        this.axios.post('/putInboxMessage/', messageData).then(({data}) => {
          if (data.ok) {
            this.message = null
            this.toast('Message successfully sent', 'success')
          } else {
            this.toast('Message has not been sent', 'error')
          }
        }).catch(error => {
          console.log(error)
          this.toast('Error sending message', 'error')
        })
      }
    },
    handleCheckInbox() {
      this.axios.post('/getInboxMessages/', {
        'access_token': this.token,
        'unread_only': false
      }).then(({data}) => {
        if (data.ok) {
          this.messages = data.items
        }
      })
    }
  }
}
</script>

<style lang="scss">
html, body {
  font-family: 'Montserrat', sans-serif;
}

#app {
  max-width: $mw;
  margin: 64px auto 64px auto;

  @media (max-width: 576px) {
    margin: 0 auto;
  }
}

.disconnected {
  text-align: center;
}

.form-group {
  @include form-input;

  margin-bottom: 32px;
}

.messages-title {
  margin: 0 0 10px 0;
}

.fade-enter-active, .fade-leave-active {
  transition: $transition;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: $transition;
}

.slide-enter {
  transform: translate(100%, 0);
}

.slide-leave-to {
  transform: translate(-100%, 0);
}
</style>
